
<ion-header class="ion-no-border" id="contacto-content">
  <ion-toolbar class="nav-toolbar">
    <div class="contenedor-nav">
      <div class="nav-izquierda" routerLink="/landing" style="cursor: pointer;">
        <img src="assets/Logo-ruta.png" class="logo">
        <span class="marca">RutaApp</span>
      </div>

      <div class="nav-centro ion-hide-md-down">
        <ion-button fill="clear" class="btn-nav" routerLink="/landing">INICIO</ion-button>
        <ion-button fill="clear" class="btn-nav" routerLink="/como-funciona">COMO FUNCIONA</ion-button>
      </div>

      <div class="nav-derecha">
        <ion-button variant="outline" class="btn-login ion-hide-md-down" routerLink="/login">LOGIN</ion-button>
        <ion-menu-button class="ion-hide-md-up" color="light"></ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="contacto-section">
    <div class="contacto-wrapper">
      <div class="contacto-info">
        <h2>Ponte en contacto</h2>
        <p>¿Tienes dudas o quieres colaborar con nosotros? Estamos en Jaén.</p>
        
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="location-outline"></ion-icon>
            <ion-label>Jaén, España</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>rutaApp&#64;gmail.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="call-outline"></ion-icon>
            <ion-label>+34 123 454 6789</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </section>

  <footer class="footer-dark">
    <div class="footer-content">
      <div class="footer-brand" routerLink="/landing" style="cursor: pointer;">
        <div class="logo-placeholder">
          <img src="assets/Logo-ruta.png" class="logo">
        </div>
        <p>La plataforma líder para descubrir y compartir rutas de aventura.</p>
      </div>
      <div class="footer-links">
        <h4>Soporte</h4>
        <a routerLink="/privacidad" style="cursor: pointer;">Privacidad</a>
      </div>
    </div>
  </footer>
</ion-content>