<section class="contacto-section">
  <div class="contacto-wrapper">
    <div class="contacto-info">
      <h2>Ponte en contacto</h2>
      <p>¿Tienes dudas o quieres colaborar con nosotros? Estamos en Jaén.</p>
      
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <ion-label>Jaén, España</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-label>rutaApp&#64;gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>+34 123 454 6789</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</section>