<ion-content class="pagina-admin">

  <div class="bloque-admin">

    <h2>Nuevo Cliente</h2>

    <form [formGroup]="fg" class="formulario">

      <div class="grupo">
        <label>Email</label>
        <div class="input-html">
          <input
            formControlName="email"
            type="email"
            placeholder="ejemplo@correo.com">
        </div>

        <div class="error-texto" *ngIf="fg.get('email')?.touched && fg.get('email')?.invalid">
          <p *ngIf="fg.get('email')?.hasError('required')">El correo es obligatorio</p>
          <p *ngIf="fg.get('email')?.hasError('emailRepetido') || fg.get('email')?.hasError('emailDuplicado')">
            El email ya está registrado por otro usuario
          </p>
        </div>
      </div>

      <div class="grupo">
        <label>Contraseña</label>
        <div class="input-html">
          <input
            formControlName="password"
            type="password"
            placeholder="Contraseña">
        </div>

        <div class="error-texto" *ngIf="fg.get('password')?.touched && fg.get('password')?.invalid">
          <p *ngIf="fg.get('password')?.hasError('required')">La contraseña es obligatoria</p>
          <p *ngIf="fg.get('password')?.hasError('contrasenaInvalida') || fg.get('password')?.hasError('contrasena')">
            Mínimo 6 caracteres y una letra
          </p>
        </div>
      </div>

      <div class="grupo">
        <label>DNI</label>
        <div class="input-html">
          <input
            formControlName="dni"
            type="text"
            placeholder="12345678X">
        </div>

        <div class="error-texto" *ngIf="fg.get('dni')?.touched && fg.get('dni')?.invalid">
          <p *ngIf="fg.get('dni')?.hasError('required')">El DNI es obligatorio</p>
          <p *ngIf="fg.get('dni')?.hasError('dniRepetido') || fg.get('dni')?.hasError('dniDuplicado')">
            El DNI ya está registrado por otro usuario
          </p>
        </div>
      </div>

      <div class="grupo">
        <label>Nombre</label>
        <div class="input-html">
          <input formControlName="nombre" type="text" placeholder="Nombre">
        </div>
        <div class="error-texto" *ngIf="fg.get('nombre')?.touched && fg.get('nombre')?.hasError('soloTexto')">
          <p>Solo se permiten letras</p>
        </div>
      </div>

      <div class="grupo">
        <label>Primer Apellido</label>
        <div class="input-html">
          <input formControlName="apellido1" type="text" placeholder="Primer apellido">
        </div>
        <div class="error-texto" *ngIf="fg.get('apellido1')?.touched && fg.get('apellido1')?.hasError('soloTexto')">
          <p>Solo se permiten letras</p>
        </div>
      </div>

      <div class="grupo">
        <label>Segundo Apellido</label>
        <div class="input-html">
          <input formControlName="apellido2" type="text" placeholder="Segundo apellido">
        </div>
        <div class="error-texto" *ngIf="fg.get('apellido2')?.touched && fg.get('apellido2')?.hasError('soloTexto')">
          <p>Solo se permiten letras</p>
        </div>
      </div>

      <div class="grupo">
        <label>Teléfono</label>
        <div class="input-html">
          <input formControlName="telefono" type="tel" placeholder="9 cifras">
        </div>
        <div class="error-texto" *ngIf="fg.get('telefono')?.touched && fg.get('telefono')?.hasError('telefonoInvalido')">
          <p>Deben ser 9 números</p>
        </div>
      </div>

      <div class="grupo">
        <label>Provincia</label>
        <div class="select-html">
          <select formControlName="provincia" (change)="onProvinciaChange()">
            <option value="" disabled>Selecciona provincia</option>
            <option *ngFor="let p of provincias" [value]="p.CPRO">
              {{ p.PRO || p.NOMBRE_PROVINCIA }}
            </option>
          </select>
        </div>
      </div>

      <div class="grupo">
        <label>Localidad</label>
        <div class="select-html">
          <select formControlName="localidad">
            <option value="" disabled>Selecciona localidad</option>
            <option *ngFor="let l of localidades" [value]="l.DMUN50">
              {{ l.DMUN50 }}
            </option>
          </select>
        </div>
      </div>

      <ion-button
        expand="block"
        (click)="guardar()"
        [disabled]="fg.invalid">
        Crear Cliente y Usuario
      </ion-button>

    </form>
  </div>
</ion-content>