<ion-header class="ion-no-border">
  <ion-toolbar class="barra-superior">
      <div class="logo-admin">
        <img src="assets/Logo-ruta.png" alt="Logo Ruta">
        
      </div>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="btn-logout">
        <ion-label class="ion-hide-sm-down">Cerrar sesión</ion-label>
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="layout-admin">

  <!-- BARRA LATERAL -->
  <aside class="sidebar-admin">
    <div class="sidebar-header">
      <h3>Administración</h3>
    </div>

    <nav class="menu-admin">
      <a
        routerLink="/componente-panel-admin/usuarios"
        routerLinkActive="activo"
        class="item-menu">
        👤 Usuarios
      </a>

      <a
        routerLink="/componente-panel-admin/clientes"
        routerLinkActive="activo"
        class="item-menu">
        👤 Clientes
      </a>

      <a
        routerLink="/componente-panel-admin/rutas"
        routerLinkActive="activo"
        class="item-menu">
        📍 Rutas
      </a>

      <a
        routerLink="/componente-panel-admin/publicaciones"
        routerLinkActive="activo"
        class="item-menu">
        📝 Publicaciones
      </a>

    </nav>
  </aside>

  <!-- CONTENIDO -->
  <main class="contenido-admin">
    <router-outlet></router-outlet>
  </main>

</div>