<ion-content class="ion-padding">

  <div class="contenedor-login">

    <div class="tarjeta-login">

      <!-- LOGO -->
      <div class="logo-seccion" routerLink="/landing">
        <img src="assets/Logo-ruta.png" class="logo">
      </div>

      <h1>Bienvenido</h1>

      <p class="subtitulo">
        Accede a tu cuenta para empezar a explorar
      </p>

      <div class="alerta-error" *ngIf="errorMessage">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>{{ errorMessage }}</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="login()">

        <!-- EMAIL -->
        <div class="grupo">

          <div class="input-html">
            <ion-icon name="mail-outline"></ion-icon>

            <input
              formControlName="email"
              type="email"
              placeholder="Correo electrónico">
          </div>

          <div
            class="error-container"
            *ngIf="form.get('email')?.touched && form.get('email')?.errors">

            <small
              class="error-texto"
              *ngIf="form.get('email')?.hasError('required')">

              El correo es obligatorio

            </small>

            <small
              class="error-texto"
              *ngIf="form.get('email')?.hasError('emailInvalido')">

              Formato de correo incorrecto

            </small>

          </div>

        </div>

        <!-- PASSWORD -->
        <div class="grupo">

          <div class="input-html">
            <ion-icon name="lock-closed-outline"></ion-icon>

            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña">
          </div>

          <div
            class="error-container"
            *ngIf="form.get('password')?.touched && form.get('password')?.errors">

            <small
              class="error-texto"
              *ngIf="form.get('password')?.hasError('required')">

              La contraseña es obligatoria

            </small>

            <small
              class="error-texto"
              *ngIf="form.get('password')?.hasError('contraseñaInvalida')">

              Mínimo 6 caracteres y 1 letra

            </small>

          </div>

        </div>

        <!-- BOTÓN -->
        <ion-button
          type="submit"
          expand="block"
          class="btn-acceder">

          Acceder

        </ion-button>

      </form>

      <!-- FOOTER -->
      <div class="footer-login">

        <p>
          ¿No tienes cuenta?
          <a routerLink="/registro">Regístrate</a>
        </p>

        <ion-button
          fill="clear"
          size="small"
          routerLink="/landing"
          class="btn-volver">

          <ion-icon
            slot="start"
            name="arrow-back-outline">
          </ion-icon>

          Volver al inicio

        </ion-button>

      </div>

    </div>

  </div>

</ion-content>