<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contenedor-login">

    <div class="tarjeta-login">

      <h1>Bienvenido</h1>
      <p class="subtitulo">Accede a tu cuenta</p>

      <form [formGroup]="form" (ngSubmit)="login()">

      <ion-item class="input-item" lines="none">
        <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <button type="submit">Acceder</button>

    </form>

      <div class="links">

        <ion-button fill="clear" routerLink="/registro">
          Crear cuenta
        </ion-button>

        <ion-button fill="clear" routerLink="/landing">
          Volver
        </ion-button>

      </div>

    </div>

  </div>

</ion-content>